
RewriteEngine On
ErrorDocument 404 /SKOTE/404.php
RewriteRule ^home?$ index.php
RewriteRule ^bikes?$ shop.php
RewriteRule ^accessories?$ accessories.php
RewriteRule ^contact?$ contact.php

RewriteRule ^bikes-([0-9A-Za-z!@=-]+)$ product-details.php?pro_id=$1 [QSA,NC,L]
RewriteRule ^bikes_manufacturer-([0-9A-Za-z!@=-]+)$ shop.php?manufacturer_id=$1 [QSA,NC,L]
RewriteRule ^bikes_category-([0-9A-Za-z!@=-]+)$ shop.php?category_id=$1 [QSA,NC,L]

RewriteRule ^accessories-([0-9A-Za-z!@=-]+)$ accessories-details.php?accessories_id=$1 [QSA,NC,L]
RewriteRule ^accessories_manufacturer-([0-9A-Za-z!@=-]+)$ accessories.php?manufacturer_id=$1 [QSA,NC,L]
RewriteRule ^accessories_category-([0-9A-Za-z!@=-]+)$ accessories.php?category_id=$1 [QSA,NC,L]

RewriteRule ^cart?$ cart.php
RewriteRule ^delete_cart-([0-9A-ZA-Z!@=-]+)-([0-9A-ZA-Z!@=-]+)$ delete-cart.php?p_name=$1&p_id=$2 [QSA,NC,L]

RewriteRule ^compare?$ compare.php
RewriteRule ^delete_compare-([0-9A-ZA-Z!@=-]+)-([0-9A-ZA-Z!@=-]+)$ delete-compare.php?p_name=$1&p_id=$2 [QSA,NC,L]

RewriteRule ^wishlist?$ wishlist.php
RewriteRule ^delete_wishlist-([0-9A-ZA-Z!@=-]+)$ delete-wishlist.php?wishlist_id=$1 [QSA,NC,L]

RewriteRule ^checkout?$ checkout.php

RewriteRule ^fail-([0-9A-ZA-Z!@=-]+)-([0-9A-ZA-Z!@=-]+)$ fail.php?c_id=$1&txnid=$2 [QSA,NC,L]
RewriteRule ^online_payment_successful-([0-9A-ZA-Z!@=-]+)-([0-9A-ZA-Z!@=-]+)$ success.php?c_id=$1&txnid=$2 [QSA,NC,L]
RewriteRule ^cash_on_delivery_successful-([0-9A-ZA-Z!@=-]+)$ success1.php?c_id=$1 [QSA,NC,L]

RewriteRule ^terms-and-conditions?$ terms.php
RewriteRule ^privet-policy?$ policy.php
RewriteRule ^register?$ register.php
RewriteRule ^register-verification-([0-9A-ZA-Z!@=-]+)$ registress.php?email=$1 [QSA,NC,L]
RewriteRule ^sitemap?$ sitemap.php
